@import 'base/_color'; // Import the color file with the correct path

header {
    background-color: var(--pitg-primary-purple);
    /* Other header styles */
}

nav {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            margin: 0 10px;
            position: relative;

            a {
                text-decoration: none;
                color: var(--pitg-purple-900);
                padding: 10px;
                /* Add any other styles for navigation links */

                &:hover {
                    color: var(--pitg-primary-purple); // Change color on hover
                    background-color: var(--pitg-purple-300); // Change background on hover
                }
            }
        }

        .cta {
            button {
                background-color: var(--pitg-secondary-green);
                color: var(--pitg-purple-900);
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                /* Add any other styles for the button */

                &:hover {
                    background-color: var(--pitg-secondary-pink); // Change color on hover
                }
            }
        }

        .cta button:last-child {
            background-color: var(--pitg-cali); // Set the custom color for "Book a Class"
            color: black; // Set the text color to black
        }
    }
}
