:root {
  //color palette
  --pitg-primary-purple: #904190;
  --pitg-secondary-green: #8ac658;
  --pitg-secondary-pink: #c6597a;
  --pitg-complement-yellow: #ded363;

  --pitg-purple-900: #782578;
  --pitg-purple-700: #ab66ab;
  --pitg-purple-500: #ce98ce;
  --pitg-purple-300: #eaccea;

  --pitg-green-900: #66a432;
  --pitg-green-700: #b2e588;
  --pitg-green-500: #cef0b1;
  --pitg-green-300: #e7f8d9;

  --pitg-pink-900: #a53355;
  --pitg-pink-700: #e689a5;
  --pitg-pink-500: #f0b2c5;
  --pitg-pink-300: #f9d9e3;

  --pitg-yellow-900: #b8ac39;
  --pitg-yellow-700: #fff698;
  --pitg-yellow-500: #fff9bd;
  --pitg-yellow-300: #fffcdf;
}


