:root {
  //font family
  --pitg-font-family-header: 'Montserrat';
  --pitg-font-family-copy: 'Source Sans 3';

  //font weight
  --pitg-header-black: '900';
  --pitg-header-bold: '700';
  --pitg-header-medium: '500';
  --pitg-copy-black: '900';
  --pitg-copy-bold: '700';
  --pitg-copy-regular: '400';
}